<div class="container-fluid">
	<div class="row">
		<div class="page-header col-md-12">
			<span class="col-sm-1">
			<IMG STYLE="border: none; height:55px;" SRC="../../content/img/ciscoImage2.jpg"  ALT="Home">
			</span>
			<span  class="col-md-10">
			<h3>Cisco Cloud Incubation Dashboard</h3>
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
					</ul>
					<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
							<label style="color:white">Orientation:</label>
						</div> 
						<div class="form-group">
							<select class="form-control" id="orientDrop">
								<option value='Hori'>Horizontal</option>
								<option value='Vert'>Vertical</option>
							</select>
						</div> 
						<div class="form-group">
							<label style="color:white">Project:</label>
						</div> 
						<div class="form-group">
							<select class="form-control" id="projectDrop"></select>
						</div> 
						
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#Logout">Logout</a>
						</li>
					</ul>
				</div>
				
			</nav>
		</div>
	</div>
</div>